h1{
    color: black;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
    padding-top: 150px;
}
h3{
    background-color: rgba(8, 1, 1, 0.3);
    color: rgb(244, 244, 245);
    background-clip: unset;
}
html {
    background: url(torghast.jpg) no-repeat center fixed;
    background-size: cover;
  }

.wrapper {
    text-align: center;
    padding-top: 300px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.crapper{
    text-align: center;
    /*padding-top: 700px;*/
    margin-bottom: auto;
}
.button {
    background-color: black;
    color: white;
    float: inline-end;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
}
.button:hover {
    background-color: red; /* Green */
    color: white;
  }